@import './app.css';

.form-group {
    position: relative;
}

.form-group .form-control, .form-select {
    height: 60px;
    padding-left: 20px;
    box-shadow: none;
    outline: none;
    position: relative;
    z-index: 3;
    background-color: transparent;
}

.form-group label {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all ease 0.3s;
    z-index: 1;
}


.form-group .form-control:focus + label,
.form-group .form-control.active + label,
.form-group .form-control.active-prevent + label {
    left: 12px;
    top: -7px;
    font-size: 11px;
    background-color: #fff;
    padding: 0 10px 0 10px;
    font-weight: 500;
    z-index: 3;
}

.form-group .profile-image {
    width: 200px;
    height: 200px;
    border: 2px solid var(--light-gray);
    margin: 0 0 30px auto;
}

.page-title {
    margin: 30px 0 10px 0;
}

.btn-add-item {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn-remove-item {
    padding: 8px 20px 8px 20px;
}

.description {
    padding-top: 10px;
    height: 150px !important;
    resize: none;
}


.dropzone {
    width: 100%;
    height: 250px;
    border: 3px dotted var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.btn-add-media {
    width: 180px;
    position: relative !important;
    background-color: var(--lighter-gray);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 auto 40px 50px;
    cursor: pointer;
}

.btn-add-media i {
    font-size: 20px;
}

.dropzone p {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    color: var(--darker-gray);
}

.preview-label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.preview-display figure {
    position: relative;
}

.preview-display .actions {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9;
}

.preview-display  {
    margin-top: 10px;
}

.preview-display img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    position: relative;

}

.preview-display .actions {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    color: var(--light);
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    cursor: pointer;
}

.grid  {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.oval {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 15px;
    background-color: var(--light-gray);
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.optgroup-header {
    text-transform: uppercase;
    font-size: 12px !important;
}

.selectize-input, .selectize-control.multi .selectize-input.has-items {
    padding: 15px 0px 15px 5px !important;
}

.selectize-input>input {
    padding: 5px 0 5px 5px !important;
}

.selectize-control.multi .selectize-input.has-items {
    padding: 15px 0px 15px 15px !important;
}

.loading-container {
    height: 8px;
    width: 100%;
    background-color: var(--light-gray);
    border-radius: 12px;
    margin-top: 10px;
}

.loading-container .loading-progress {
    height: 8px;
    width: 0px;
    border-radius: 12px;
    background-color: var(--dark-blue);
}

.label-loading {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.caption {
    margin-top: 30px;
}

.caption h5 {
    margin-bottom: 5px;
}

.caption p {
    width: fit-content;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.caption-description p {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    margin-top: 20px;
}

.timestamp p {
    font-size: 12px !important;
}

.attachments .row > * {
    padding: 0px 8px 8px 8px !important;
}

.item-content .card-body {
    position: relative;
}

.item-content .actions {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-content .actions .select {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: red;
}

.item-content .actions .edit {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: red;
}

.item-content .actions .delete{ 
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: red;
}

.attachments .item {
    display: flex;
    flex-wrap: wrap;
}

.attachments .item img {
    width: 200px !important;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.attachments .main img {
    height: 410px;
    border-radius: 15px;
    border: 2px solid var(--lighter-gray);
    cursor: pointer;
}

.attachments img {
    position: relative;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid var(--lighter-gray);
    cursor: pointer;
}

.attachments .more-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.attachments .more {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000000;
    opacity: 0.6;
    z-index: 9;
    cursor: pointer;
}
