@import './app.css';

.form-group {
    position: relative;
}

.form-group .form-control, .form-select {
    height: 60px;
    padding-left: 20px;
    box-shadow: none;
    outline: none;
    position: relative;
    z-index: 3;
    background-color: transparent;
}

.form-group label {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all ease 0.3s;
    z-index: 1;
}


.form-group .form-control:focus ~ label,
.form-group .form-control.active ~ label {
    top: -8px;
    font-size: 12px;
    background-color: #fff;
    padding: 0 10px 0 10px;
    font-weight: 500;
    z-index: 3;
}

.form-group .profile-image {
    width: 200px;
    height: 200px;
    border: 2px solid var(--light-gray);
    margin: 0 0 30px auto;
}

.page-title {
    margin: 30px 0 40px 0;
}

.btn-add-item {
    padding: 15px 35px 15px 35px;
    border-radius: 10px;
}

.btn-remove-item {
    padding: 8px 20px 8px 20px;
}

.description {
    padding-top: 10px;
    height: 150px !important;
    resize: none;
}

.select2-container--classic .select2-selection--multiple {
    min-height: 60px;
}

.select2-results__group {
    text-transform: uppercase;
}

.dropzone {
    width: 100%;
    height: 250px;
    border: 3px dotted var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.btn-add-media {
    width: 180px;
    position: relative !important;
    background-color: var(--lighter-gray);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 auto 40px 50px;
    cursor: pointer;
}

.btn-add-media i {
    font-size: 20px;
}

.dropzone p {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    color: var(--darker-gray);
}

.preview-label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.preview-display figure {
    position: relative;
}


.preview-display .actions {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9;
}

.preview-display.active {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 12vw);
    grid-gap: 15px;
}

.preview-display img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    position: relative;

}